/* @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400); */
@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}


/* section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
} */

section h1 {
  position: absolute;
  top: 50%;
  left: 70%;
  z-index: 2;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  color: #DFAC22;
  font : bold 96px 'Oswald';
  text-align: right;
  white-space: nowrap;
}

section h2 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    color: #FFDD9D;
    font: bold 60px 'Oswald';
    line-height: 200%;
}

section p {
      color: #FFDD9D;
      font : normal 14px 'Oswald';
}

.left {
  position: static;
  text-align: center;
  top: 10%;
  right: 20%;
  border-style: solid;
  border-color: #FFDD9D;
  margin-left: 20%;
  margin-top: 20%;
  margin-bottom: 20%;
}


.right {
  position: absolute;
  text-align: center;
  bottom: 30%;
  left: 50%;
  border-style: solid;
  border-color: #FFDD9D;
  margin-left: 20%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.mid {
  position: absolute;
  text-align: center;
  bottom: 30%;
  left: 30%;
  border-style: solid;
  border-color: #FFDD9D;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20%;
  margin-bottom: 20%;
}

#section01 { background: url(https://i.postimg.cc/66RV5WVm/Capture.jpg) center center / cover no-repeat; background-size: 100% 100%; width:1400px;height:600px;} 

/* #section02 { url(https://i.postimg.cc/66RV5WVm/Capture.jpg) center center / cover no-repeat;} * */


/* #section02 {
        background-size: 50% auto; } */

.demo a {
  position: absolute;
  bottom: 10px;
  left: 45%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #DFAC22;
  font : normal 600 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  /* transition: opacity .3s; */
}

.demo a:hover {
  opacity: .5;
}

#section01 a {
  padding-top: 60px;
}

#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #DFAC22;
  border-bottom: 1px solid #DFAC22;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

/* #section02 a {
  padding-top: 70px;
} */

/* #section02 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
} */

img {
  display: flex;
  margin-left: 55px;
  margin-top: 240px;
  padding: 50px;
  width: 234px;
  height: 416px;
/*   opacity: 0.5; */
}

#section03 a {
    padding-top: 70px;
  }

#section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-animation: sdb06 1.5s infinite;
    animation: sdb06 1.5s infinite;
    box-sizing: border-box;
  } 
